{{ define "title" }}
About
{{ end }}

{{ define "main" }}
  <h2>About</h2>
  <p>Notebox is a simple RESTful web application for storing academic and technical notes.</p>
  <p>The idea for it came from a personal necessity to easily access and write annotations taken whenever I'm exploring a CS-related topic.</p>
  <p>Also, the project serves as an introduction both to the core ideas involved when developing a web application and web development in Go without the use of an assisting framework.</p>
{{ end }}
