{{ define "title" }}
Update Password
{{ end }}

{{ define "main" }}
  <h2>Change Password</h2>
  <form action='/account/password/update' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{ .CSRFToken }}'>
    <div>
      <label>Current Password:</label>
      {{ with .Form.FieldErrors.current }}
        <label class='error'>{{ . }}</label>
      {{ end }}
      <input type='password' name='current' value='{{ .Form.Current }}'>
    </div>
    <div>
      <label>New Password:</label>
      {{ with .Form.FieldErrors.new }}
        <label class='error'>{{ . }}</label>
      {{ end }}
      <input type='password' name='new' value='{{ .Form.New }}'>
    </div>
    <div>
      <label>Confirm new password:</label>
      {{ with .Form.FieldErrors.confirm }}
        <label class='error'>{{ . }}</label>
      {{ end }}
      <input type='password' name='confirm'>
    </div>
    <div>
      <input type='submit' value='Change Password'>
    </div>
  </form>
{{ end }}
