{{ define "nav" }}
  <nav>
    <div>
      <a href='/'>Home</a>
      <a href='/about'>About</a>
      <!-- Toggle the link based on authentication status -->
      {{ if .IsAuthenticated }}
        <a href='/note/create'>Create note</a>
      {{ end }}
    </div>
    <div>
      {{ if .IsAuthenticated }}
        <a href='/account/view'>Account</a>
        <form action='/user/logout' method='POST'>
          <input type='hidden' name='csrf_token', value='{{ .CSRFToken }}'>
          <button>Logout</button>
        </form>
      {{ else }}
        <a href='/user/signup'>Signup</a>
        <a href='/user/login'>Login</a>
      {{ end }}
    </div>
  </nav>
{{ end }}
